<p id="notice">Book was successfully created.</p>
<p>
  <strong>Title:</strong>
  人間
</p>
<p>
  <strong>Body:</strong>
  国宝
</p>
<a class="edit_45383" href="/books/45383/edit">Edit</a>
｜
<a class="back" href="/books">Back</a>
