<div class="show">
  <strong>Title:</strong>
  <span><%= @book.title %></span>
</div>
<div class="show">
  <strong>Body:</strong>
  <span><%= @book.body %></span>
</div>

<%= link_to "Edit", '/books/edit' %>
|
<%= link_to "Back", '/books' %>